AmortizationAppSol/.idea/.idea.AmortizationAppSol/riderModule.iml
AmortizationAppSol/.idea/.idea.AmortizationAppSol/.idea/contentModel.xml
AmortizationAppSol/.idea/.idea.AmortizationAppSol/.idea/indexLayout.xml
AmortizationAppSol/.idea/.idea.AmortizationAppSol/.idea/misc.xml
AmortizationAppSol/.idea/.idea.AmortizationAppSol/.idea/modules.xml
AmortizationAppSol/.idea/.idea.AmortizationAppSol/.idea/vcs.xml
AmortizationAppSol/.idea/.idea.AmortizationAppSol/.idea/workspace.xml
AmortizationAppSol/AmortizationApp/bin/Debug/AmortizationApp.exe
AmortizationAppSol/AmortizationApp/bin/Debug/AmortizationApp.pdb
AmortizationAppSol/AmortizationApp/bin/Debug/BasicWebServerLib.dll
AmortizationAppSol/AmortizationApp/bin/Debug/BasicWebServerLib.pdb
AmortizationAppSol/AmortizationApp/bin/Debug/Microsoft.Office.Interop.Excel.dll
AmortizationAppSol/AmortizationApp/bin/Debug/Newtonsoft.Json.dll
AmortizationAppSol/AmortizationApp/bin/Debug/Newtonsoft.Json.xml
AmortizationAppSol/AmortizationApp/obj/Debug/AmortizationApp.csproj.CopyComplete
AmortizationAppSol/AmortizationApp/obj/Debug/AmortizationApp.csproj.CoreCompileInputs.cache
AmortizationAppSol/AmortizationApp/obj/Debug/AmortizationApp.csproj.FileListAbsolute.txt
AmortizationAppSol/AmortizationApp/obj/Debug/AmortizationApp.csprojAssemblyReference.cache
AmortizationAppSol/AmortizationApp/obj/Debug/AmortizationApp.exe
AmortizationAppSol/AmortizationApp/obj/Debug/AmortizationApp.pdb
AmortizationAppSol/AmortizationApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AmortizationAppSol/AmortizationApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AmortizationAppSol/AmortizationApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AmortizationAppSol/AmortizationApp/obj/Release/AmortizationApp.csproj.CopyComplete
AmortizationAppSol/AmortizationApp/obj/Release/AmortizationApp.csproj.CoreCompileInputs.cache
AmortizationAppSol/AmortizationApp/obj/Release/AmortizationApp.csproj.FileListAbsolute.txt
AmortizationAppSol/AmortizationApp/obj/Release/AmortizationApp.csprojAssemblyReference.cache
AmortizationAppSol/AmortizationApp/obj/Release/AmortizationApp.exe
AmortizationAppSol/AmortizationApp/obj/Release/AmortizationApp.pdb
AmortizationAppSol/AmortizationApp/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AmortizationAppSol/AmortizationApp/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AmortizationAppSol/AmortizationApp/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
